doctype html
html(lang="ru")
    include ../includes/_head
    body
        <!-- header start -->
        include ../includes/_header
        <!-- header end -->
        
        
        main
            <!-- Home start -->
            section(data-index="1")#home.home
                div.container
                    div.home_wrapper
                        div.home_info
                            h1 Taras Senko
                            div.home_info_bio
                                p junior Front-End Developer 
                                p 20 years old, Zhytomyr
                            div.home_info_lang
                                a(href='#').lang_link.active ENG
                                a(href='#').lang_link RU
                        div.home_img
                            img(src='/img/photo_1.png')

            <!-- Home end -->

            <!-- about start -->
            section(data-index="2")#about.about
                div.container
                    div.about_me
                        h2 About me
                        div.about_me_wrapper
                            div.about_me_photo
                                img(src='/img/photo_1.png')
                            div.about_me_info
                                p Hi, I'm Denis – UX/UI designer from Minsk. I'm interested in design and everything connected with it.
                                p I'm studying at courses "Web and mobile design interfaces" in IT-Academy
                                p Ready to implement excellent projects with wonderful people.
                                div.about_cv
                                    div.about_cv_click
                                        input#user(type='radio', name='my_cv', value='2')
                                        label(for='user') Click me if you need project
                                        a#demo2(href='https://account.rabota.ua/jobsearch/cvbuilder?resumeId=12376468') Download price
                                    div.about_cv_click
                                        input#recruiter(type='radio', name='my_cv', value='1', checked='')
                                        label(for='recruiter') Click me if you recruiter
                                        a#demo(href='https://account.rabota.ua/jobsearch/cvbuilder?resumeId=12376468') Download CV
                                



            <!-- about end -->


            <!-- Portfolio start -->
            section#portfolio.portfolio
                div.portfolio_wrapper
                    h2 Portfolio
                    div.owl-carousel
                        div.item
                            a.portfolio_link(href="#")
                                img.portfolio_image(src='/img/photo_1.png')
                                div.portfolio_item
                                    h3 Name work
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsum impedit temporibus porro incidunt minima rerum dolorem voluptatem consequatur laudantium quae nulla, expedita veniam accusamus natus quod iure repudiandae architecto.
                        div.item
                            a.portfolio_link(href="#")
                                img.portfolio_image(src='/img/photo_1.png')
                                div.portfolio_item
                                    h3 Name work
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsum impedit temporibus porro incidunt minima rerum dolorem voluptatem consequatur laudantium quae nulla, expedita veniam accusamus natus quod iure repudiandae architecto.
                        div.item
                            a.portfolio_link(href="#")
                                img.portfolio_image(src='/img/photo_1.png')
                                div.portfolio_item
                                    h3 Name work
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsum impedit temporibus porro incidunt minima rerum dolorem voluptatem consequatur laudantium quae nulla, expedita veniam accusamus natus quod iure repudiandae architecto.
                    a.portfolio_button(href="#") Посмотреть все работы

            <!-- Portfolio end -->


            <!-- blog start -->

            section#blog.blog
                div.container
                    div.blog_wrapper
                        h2 Blog
                        div.blog_list
                            div.single_blog
                                img(src="/img/photo_1.png")
                                h3 blog 1
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum omnis delectus modi totam maxime? Neque nihil, est id...
                                a(href="") read more
                            div.single_blog
                                img(src="/img/photo_1.png")
                                h3 blog 1
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum omnis delectus modi totam maxime? Neque nihil, est id...
                                a(href="") read more
                            
                        a.blog_button(href="") Читать больше записей

            <!-- blog end -->

            <!-- contacts start -->
            section#contacts.contacts
                div.container
                    div.contact_wrapper
                        h2 Contacts
                        p Want to know more or just chat? You are welcome!
                        button Send Message
                        div.social_wrapper
                            a(href="").icon-github-circled
                            a(href="").icon-linkedin-circled
                            a(href="").icon-gmail
                            a(href="").icon-instagram
                            a(href="").icon-telegram
                        h4 Site build Taras Senko


            <!-- contacts end -->


        
        include ../includes/_scripts