header.section_header
    div.container
        nav.header_wrapper
            a(data-index="1").nav_link Home
            a(data-index="2").nav_link About me
            a(data-index="3").nav_link Portfolio
            a(data-index="4").nav_link Blog
            a(data-index="5").nav_link Contacts