script(type="text/javascript", src="js/jquery-3.4.1.min.js")
script(type="text/javascript", src="js/libs.min.js")
script(type="text/javascript", src="js/owl.carousel.js")
script(type="text/javascript", src="js/common.js")
script(type="text/javascript", src="js/jquery.onepage-scroll.js")
